<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
        <title>capstone travel app</title>
        <meta name="description" content="frontend capstone for Udacity" />
        
    </head>

    <body>
<div class="grid">
        <header>
        
                <div class="picture1">&nbsp;</div>
            
            <h2>travel app instructions:</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse aliquid laboriosam 
                minima ex praesentium recusandae reprehenderit unde sit tempore atque aut commodi quae expedita corrupti, dignissimos architecto. Eius, maiores ad?</p>

                
        
   
        </header>

        <main>
            <section>
                
                <form  class="">
                    <input id="name" type="text" name="input" value=""  placeholder="enter a location name, ex: Paris">
                    <input id="date" onfocus="(this.type='date')" name="input" value=""  placeholder="Departure Date">
                    <input id="finaldate" onfocus="(this.type='date')" name="input" value=""  placeholder="End Date">
                    <input id="submitform"  type="submit" name="" value="submit">
                </form>
            </section>
            
            <section>
            <h2>Weather on the selected day:</h2>
            </section>

            <section>
                <div id="results"></div>
            </section>

            <section>
            <h2>length of trip</h2>
            </section>

            <section>
                <div id="lengthoftrip"></div>
            </section>

            <section>
            <h2>City picture</h2>
            </section>

            <section>
                <div class="card">
                    <figure>
                    <div class="picture2">&nbsp;</div>
                    </figure>
                </div>
            </section>
    </div>
 </main>

        <footer>
            <p>This app was created by @ sara</p>
        </footer>
    </body>
</html>
