<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
        
    </head>

    <body>

        <header>





            <div class="box">
                <div class="picture1">&nbsp;</div>
            </div>
            <div class="">
                travel app
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="enter a location name, ex: Paris">
                    <input id="date" type="date" name="input" value="" onblur="onBlur()" placeholder="Date">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <div class="card">
                <strong>Weather on the day of your arrival:</strong>
                <div id="results"></div>
            </section>
            <section>
                <div class="card">
                    <h2><i>Name of the city</i></h2>
                    <figure>
                        <img src="/img/SaraMoccandforUdacity.jpg">
                    </figure>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
