<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
        <title>capstone travel app</title>
        <meta name="description" content="frontend capstone for Udacity" />
        
    </head>

    <body>

        <header>
            <section>
            <div class="gridheader">
                <img src="./src/client/img/7c7caba6534ac9842083c2eade633947.jpg" class="picture1">
            
            <h2>Travel app instructions:</h2>

            <ul>
                <li>Enter a location in the first raw</li>
                <li>Enter your departure date</li>
                <li>Enter your return date</li>
                <li>Click the submit button</li>
                <li>...and this is where the magic happens</li>

            </ul>

            </div>
        </section>
        </header>

        <main>
            
            <section>
                
                <form  class="">
                    <input id="name" type="text" name="input" value=""  placeholder="enter a location name, ex: Paris">
                    <input id="date" onfocus="(this.type='date')" name="input" value=""  placeholder="Departure Date">
                    <input id="enddate" onfocus="(this.type='date')" name="input" value=""  placeholder="End Date">
                    <input id="submitform"  type="submit" name="" value="submit">
                </form>
            </section>
            
            <div class="grid">
            <section>
                <h2>Weather on the selected day:</h2>
            </section>

            <section>
                <div id="results"></div>
            </section>

            <section>
                <h2>length of trip</h2>
            </section>

            <section>
                <div id="lengthoftrip"></div>
            </section>

            <section>
                <h2>City picture</h2>
            </section>
            <section>
                <img src="./src/client/img/817bd68b656a64e2863275dd4ffc2b48.jpg" id="cityimg" class="picture2">
            </section>
            </div>        
        </main>
        <footer>
            <p>This app was created by @ sara</p>
        </footer>
    </body>
</html>
