
.picture1 {
    width: 100%;
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
    background-image:url('../img/logoudacity2.jpg');
 }

 .picture2 {
  width: 100%;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  background-image:url('../img/holiday-default.jpg');
}

